<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<div style="font-family:'Open Sans', sans-serif, Georgia;font-size:16px;margin:auto;max-width:650px;color:#333;background:#f3f4ec;">
  <%= render partial: 'user_mailer/header' %>

  <div style="padding-left:20px;padding-right:20px">

    <h1 style="font-size:20px;font-weight:400;">Reset Password</h1>

    <p>Hello <%= @resource.email %>!</p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "color:#0a0e12" %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </div>

  <%= render partial: 'user_mailer/footer' %>

</div>
