<section class="section">
  <div class="container">
    <h1 class="title">
      Welcome
    </h1>
    <a class="button" href="/app/" target="_blank">
      Start App
    </a>
  </div>
  <script>
	window.parent.postMessage({
	  logged_in: true
	});
  </script>
</section>
