<section class="section">
  <div class="container">
    <br/>
    <h1 class="title">Welcome</h1>
    <a class="button" href="/app/" target="_blank">
      Start App
    </a><br><br>
	<a class="button" href="/landing/index.dev.html" target="_blank">
      Landing page
    </a><br><br>
	<a class="button" href="/landing/docs/index.html" target="_blank">
      User Documentation
    </a>
  </div>
  <script>
    window.parent.postMessage({
      logged_in: true
    });
  </script>
</section>
