<div class="footer" style="background:#f3f4ec;text-align:center;padding:50px 0;width:100%;">
  <a href="https://cutvid.io" style="color:#fff;text-decoration:none;background:#333;padding:10px;border-radius:3px;">Visit cutvid.io!</a>
</div>
<p style="font-size:12px;text-align:center;background:#0a0e12;padding:20px 0;">
  <a href="https://cutvid.io/" style="color:#fff">cutvid.io</a>
</p>
