<div class="header" style="margin-bottom:30px;">
  <img src="<%= Rails.configuration.lattefx_settings['app'] %>/images/mailer/mail-header.png" alt="LatteFX (lattefx.com)" style="max-width:100%;"/>
</div>
