<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<div style="font-family:'Open Sans', sans-serif, Georgia;font-size:16px;margin:auto;max-width:650px;color:#333;background:#f3f4ec;">
  <%= render partial: 'header' %>

  <div style="padding-left:20px;padding-right:20px">

    <h1 style="font-size:20px;font-weight:400;">Welcome to LatteFx!</h1>

    <p>
      Your account was successfully created, you can now start:
      <ul>
        <li>Making videos</li>
        <li>Saving video projects</li>
        <li>Making renders</li>
      </ul>

      HQ renders will be mailed for purchase at this email address.
    </p>

    <p>The initial storage for projects and render is 100MB. Contact us to purchase more storage.</p>

  </div>


  <%= render partial: 'footer' %>

</div>
