<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<div style="font-family:'Open Sans', sans-serif, Georgia;font-size:16px;margin:auto;max-width:650px;color:#333;background:#f3f4ec;">
  <%= render partial: 'header' %>

  <div style="padding-left:20px;padding-right:20px">

    <h1 style="font-size:20px;font-weight:400;">New render finished!</h1>

    <p>
      Download your render at <a href="https://cutvid.io/app/renders" style="color:#0a0e12">https://cutvid.io/app/renders</a>
    </p>

    <p>
      Renders are available for download up to 3 days after purchase. Don't wait until then to download your renders.
    </p>
  </div>

  <%= render partial: 'footer' %>

</div>
